* {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.none {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

input,
label,
select,
textarea,
li,
span,
p {
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: hsl(226, 63%, 45%);
  margin: 0 auto;
  width: 90%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

/* boton menu y menu oculto */
.top-bar-hamburguer {
  z-index: 2;
}

.top-bar-hamburguer button svg {
  width: 3rem;
}


.menu-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.menu-form-title {
  margin-bottom: 3rem;
}

.menu-form .form-row {
  width: 100%;
}



.crud {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}

.table {
  flex: 1;
}





.table-data {
  background-color: hsl(226, 64%, 66%);
  padding: 0.5rem;
}

.table-data ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table-data ul li span {
  font-weight: 700;
}

.table-data ul li span::after {
  content: ":";
  margin-right: 0.5rem;
}

.form {
  flex: 2;
}

.form-buttons {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

.form-buttons-change>div {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 69%);
}

.form-button-active{
  background-color: hsl(34, 100%, 51%);
}


.form-buttons-change>div>button:hover {
  background-color: hsl(34, 79%, 53%);
}

.form-buttons-change>div>button {
  height: 100%;
  width: 5rem;
}

.form-buttons-change {
  display: flex;
  width: 50%;

}

.form-buttons-actions {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.form-clean-button button svg,
.form-save-button button svg {
  width: 2rem;
}

.form-clean-button button svg path,
.form-save-button button svg path {
  fill: hsl(207, 85%, 69%);
}

.form-clean-button button:hover svg path,
.form-save-button button:hover svg path {
  fill: hsl(34, 79%, 53%);
}

/* principal button */
.form-row {
  display: flex;
  gap: 2rem;
}

.form-element {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-element-label label {
  font-weight: 700;
}

.form-element-input * {
  background-color: hsl(226, 64%, 66%);
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  height: 2rem;
  outline: transparent;
  padding: 0.5rem;
  width: 100%;
}

.form-element-input input[type="number"]::-webkit-outer-spin-button,
.form-element-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-element-input input[type="date"]::-webkit-calendar-picker-indicator,
.form-element-input input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-element-input textarea {
  height: 20vh;
  resize: none;
}

/* imagenes */
.images {
  display: none;
  flex: 2;
}

.image-placeholder {
  width: 300px;
  height: 200px;
  background-color: #ddd;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #666;
}

.image-placeholder:before {
  content: '\1F5BC';
  font-size: 40px;
  color: #999;
}

.images-TODO {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

/* globales */
.block {
  height: 10vh;
}

.border-red{
  border: 1px solid red;
}

.tab-content{
  display:none;
}

.display {
  display: block;
}

.background-block-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  opacity: 0.5;
  z-index: 2;
}
